.python-version
**/__pycache__/**
**/**/.ipynb_checkpoints/**
.idea
.env

# from jupyter
.bash_history
.cache/
.config/
.docker/
.ipython/
.jupyter/
.local/
.npm/
.ssh/
.viminfo
src/
tutorials/
.java
.bashrc
.poetry
.zshrc
.gnupg
.conda
.python_history